Html {
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: gray;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: gray;
}
p {
  color: gray;
  font-size: 14px;
}
#home {
  background-image: url("/media/the-flatiron-building.png");
}
