html {
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  }
p {
  font-size: 14px;
}
h4 {
  font-size: 11px;
}
.white_text {
    color: white;
    background-image: url("the-flatiron-building.png");
    background-color: #666666;

}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}
